In [12]:
import pandas as pd
import numpy as np
from numpy import genfromtxt

In [13]:
my_data = genfromtxt('output.csv', delimiter=',')

In [14]:
df_describe = pd.DataFrame(my_data)
df_describe.describe()

                    0
count  1000000.000000
mean       101.950811
std         83.959262
min          7.000000
25%         42.000000
50%         76.000000
75%        135.000000
max       1270.000000