In [9]:
import pandas as pd
import numpy as np
from numpy import genfromtxt

In [10]:
my_data = genfromtxt('output.csv', delimiter=',')

In [11]:
df_describe = pd.DataFrame(my_data)
df_describe.describe()

                    0
count  1000000.000000
mean       102.751980
std         83.825685
min          8.000000
25%         43.000000
50%         77.000000
75%        135.000000
max       1325.000000